body {
    background-color: red;
    margin:15px;
}

h1{
    font-size: 30px;
}
p {
    font-size:20px;
    font-size: 40px;
    color: green;
}
p{
    Color: blue;
}

form{
    margin:25px;
    padding:30px;
}
